h2 {
  text-align: center;
  margin: 0 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#sidebar_left {
    position:absolute;
    top:0; bottom:0; left:0;
    width:20%;
    background: url("escheresque.png") repeat;
    color: #CC2A41;
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border-right: 2px solid #424254;
}

#sidebar_right {
    position:absolute;
    top:0; bottom:0; right:0;
    width:20%;
    background: url("escheresque.png") repeat;
    color: #351330;
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border-left: 2px solid #424254;
}

#message {
  padding: 20px 0 30px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #424254;
  font-size: 30px;
}

table {
  margin-left:auto;
  margin-right:auto;
}

td:hover {
  background-color: #C6E5D9;
}

.unclaimed {
    width:135px;
    height:135px;
    text-align: center;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    color: #1A2223;
}

.X {
  width:125px;
  height:125px;
  text-align: center;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #CC2A41;
  background-color: #ffc9ca;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.O {
  width:125px;
  height:125px;
  text-align: center;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #351330;
  background-color: #bfb3c8;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.v {
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

#restart {
  text-align: center;
  color: red !important;
}

.wrapper {
    text-align: center;
    padding-top: 50px;
}

#cats {
  text-align:center;
}

#button {
background-color:#C6E5D9;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
border:3px solid #424254;
/*display:inline-block;*/
cursor:pointer;
color:#424254;
font-family: 'Montserrat', sans-serif;
font-size:20px;
padding:10px 40px;
text-decoration:none;
width: 90px;
}

#button:hover {
background-color:#F7F9FE;
}

#button:active {
position:relative;
top:1px;
}

#xWinCounter {
color: #ffc9ca;
text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

#oWinCounter {
  color: #bfb3c8;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

#scoreboard {
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  padding: 0 0 0 20px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:3px solid #424254;
  background: #F7E4BE;
  color:#424254;
  padding:10px 40px;
  text-decoration:none;
  /*width: 90px;*/
}
