td {
height: 150px;
width: 150px;
border: 1px solid black;
}

#cell_1:hover {
    background:#DF3D82;
}

#cell_2:hover {
    background:#DF3D82;
}

#cell_3:hover {
    background:#DF3D82;
}

#cell_4:hover {
    background:#DF3D82;
}

#cell_5:hover {
    background:#DF3D82;
}

#cell_6:hover {
    background:#DF3D82;
}

#cell_7:hover {
    background:#DF3D82;
}

#cell_8:hover {
    background:#DF3D82;
}

#cell_9:hover {
    background:#DF3D82;
}
